# Triangle

## Task

An array A consisting of N integers is given. A triplet (P, Q, R) is triangular if 0 ≤ P < Q < R < N and:

A[P] + A[Q] > A[R],
A[Q] + A[R] > A[P],
A[R] + A[P] > A[Q].
For example, consider array A such that:

  A[0] = 10    A[1] = 2    A[2] = 5
  A[3] = 1     A[4] = 8    A[5] = 20
Triplet (0, 2, 4) is triangular.

Write a function:

def solution(A)

that, given an array A consisting of N integers, returns 1 if there exists a triangular triplet for this array and returns 0 otherwise.

For example, given array A such that:

  A[0] = 10    A[1] = 2    A[2] = 5
  A[3] = 1     A[4] = 8    A[5] = 20
the function should return 1, as explained above. Given array A such that:

  A[0] = 10    A[1] = 50    A[2] = 5
  A[3] = 1
the function should return 0.

Write an efficient algorithm for the following assumptions:

N is an integer within the range [0..100,000];
each element of array A is an integer within the range [−2,147,483,648..2,147,483,647].

## Solution

In [1]:
def solution(A):
    # Implement your solution here
    
    A.sort()
    
    for i in range(len(A) - 2):
        
        if (A[i] + A[i + 1] > A[i + 2]) and (A[i + 1] + A[i + 2] > A[i]) and (A[i + 2] + A[i] > A[i + 1]):
            return 1
        
    return 0

## Test

In [2]:
import pandas as pd

def test(li):
    
    df = pd.DataFrame(columns = ['A', 'solution(N)'])
    for i in li:
        row = [i, solution(i)]
        df.loc[len(df)] = row
    
    return(df)

In [3]:
example = [[10, 2, 5, 1, 8, 20], [10, 50, 5, 1]]

In [4]:
test(example)

                      A  solution(N)
0  [1, 2, 5, 8, 10, 20]            1
1        [1, 5, 10, 50]            0