# CyclicRotation

## Task

An array A consisting of N integers is given. Rotation of the array means that each element is shifted right by one index, and the last element of the array is moved to the first place. For example, the rotation of array A = [3, 8, 9, 7, 6] is [6, 3, 8, 9, 7] (elements are shifted right by one index and 6 is moved to the first place).

The goal is to rotate array A K times; that is, each element of A will be shifted to the right K times.

Write a function:

def solution(A, K)

that, given an array A consisting of N integers and an integer K, returns the array A rotated K times.

For example, given

    A = [3, 8, 9, 7, 6]
    K = 3
the function should return [9, 7, 6, 3, 8]. Three rotations were made:

    [3, 8, 9, 7, 6] -> [6, 3, 8, 9, 7]
    [6, 3, 8, 9, 7] -> [7, 6, 3, 8, 9]
    [7, 6, 3, 8, 9] -> [9, 7, 6, 3, 8]
For another example, given

    A = [0, 0, 0]
    K = 1
the function should return [0, 0, 0]

Given

    A = [1, 2, 3, 4]
    K = 4
the function should return [1, 2, 3, 4]

Assume that:

N and K are integers within the range [0..100];
each element of array A is an integer within the range [âˆ’1,000..1,000].
In your solution, focus on correctness. The performance of your solution will not be the focus of the assessment.

## Solution

In [1]:
def solution(A, K):
    # Implement your solution here
    
    if not A:
        
        return []
    
    else:
    
        def rotate(li):
            new_li = li[:]
            new_li.append(new_li[-1])
            x = 2
            while x != len(new_li):
                new_li[-x] = new_li[-(x + 1)]
                x += 1
            new_li[0] = new_li[-1]
            new_li = new_li[:-1]
            return new_li

        for i in range(K):
            A = rotate(A)

        return A

## Test

In [2]:
import pandas as pd

def test(li):
    
    df = pd.DataFrame(columns = ['A', 'K', 'solution(A, K)'])
    for i in li:
        row = [i[0], i[1], solution(i[0], i[1])]
        df.loc[len(df)] = row
    
    return(df)

In [3]:
example = [
    [[3, 8, 9, 7, 6], 3],
    [[0, 0, 0], 1],
    [[1, 2, 3, 4], 4]
]

In [4]:
test(example)

                 A  K   solution(A, K)
0  [3, 8, 9, 7, 6]  3  [9, 7, 6, 3, 8]
1        [0, 0, 0]  1        [0, 0, 0]
2     [1, 2, 3, 4]  4     [1, 2, 3, 4]